* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide:300,400,500,600,700&display=swap');
html {
    scroll-behavior: smooth;
}
* { margin: 0;
    padding: 2;
}

/* mobile version */
.grid{
    display: grid;
    grid-template-columns: 2% 48% 48% 2%;
    grid-template-areas: 
        ". navigationbar navigationbar ."
        ". wallpaperspace wallpaperspace ."
        ". home home ."
        ". forex forex ."
        ". version version ."
        ". analysis analysis ."
        ". video video ."
    ;
    align-self: center;
    grid-gap: 5px;
}

/* Font styling*/
h1  {
    /*
    font-family: Georgia, 'Times New Roman', Times, serif; 
    */
    font-family: audiowide;
    font-size: 20px;
    justify-self: left;
    margin-left: 10px;
    letter-spacing: 2px;
    }
/* Font styling ends*/

.navigationbar {
    position: fixed;
    width: 100%;
    grid-area: navigationbar;
    background: white;
    z-index: 1;
}

.logo {
    margin-left: 2%;
    justify-self: center;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    color: rgb(1, 1, 12);
    align-self: left;
    font-family: audiowide;
    letter-spacing: 2px;
    /*font-family: Georgia, 'Times New Roman', Times, serif;
    */
}

.nav {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /*font-weight: bold;*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: #031321;
    font-family: consolas;
    /*background-color: lightseagreen;*/
}

.nav a{
    align-items: center;
    align-self: center;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color: #2196f3;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 8px;
}  
/*neo light start*/
a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3; 
    transition-delay: 1s;
}


a span{
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3); 
}

a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3); 
}

a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3); 
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3); 
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/*neo light end*/

.home{
    position: relative;
    width: 100%;
    height: 38vh;
    background-image: url(../zzz-image/BackgroundImage-visitor.jpg);
    background-size: cover;
    background-position: bottom;
}

.clouds{
    position: relative;
    padding: 75px 100px;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(8s * var(--i)) linear infinite;
}

@keyframes animate{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}