@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
}

.framecard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 390px;
    background: #1c1c25;
    border-radius: 10px;
}

.card{
    position: relative;
    width: 508px;
    height: 314px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0,5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
}
.card:hover .face.front{
    transform: rotateY(180deg);

}
.card .face.back{
    transform: rotateY(180deg);
}

.card:hover .face.back{
    transform: rotateY(360deg);
}

.card .face.front .information{
    position: absolute;
    left: 35%;
    top: 10px;
    justify-content: center;
    color: #fff;
    font-weight: 500;
}


.card .face.front .profile-pic{
    position: absolute;
    left: 50px;
    top: 40px;
    max-width: 90px;
    border-radius: 8px;
    border-style: solid;
    border: solid;
}

.card .face.front .fxtrader{
    position: absolute;
    left: 40px;
    top: 155px;
    color: #fff;
    font-weight: 600;
}

.card .face.front .ea-id{
    position: absolute;
    left: 330px;
    top: 30px;
    max-width: 120px;
    border-style: solid;
    border: solid;
    border-radius: 8px;
}

.card .face.front .ea-name{
    position: absolute;
    right: 40px;
    top: 170px;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
}

.card .face.front .chip{
    position: absolute;
    top: 80px;
    left: 50px;
    max-width: 64px;
    border-radius: 8px;
}

.card .face.front .work{
    position: absolute;
    bottom: 50px;
    left: 40px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 18px;
    text-shadow: 0 2px 1px #0005;
    font-family: 'Orbitron', sans-serif;
}

.card .face.front .valid span:last-child{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.card .face.front .cardHolder{
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 1em;
    text-align: right;
}

.card .face.front .email{
    position: absolute;
    bottom: 15px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 1em;
    text-align: left;
}

.card .face.back .blackbar{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 60px;
    background: #000;

}

.card .face.back .ccvtext{
    position: absolute;
    top: 120px;
    left: 30px;
}

.card .face.back .ccvtext h5{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card .face.back .ccvtext .whitebar{
    position: relative;
    width: 400px;
    height: 40px;
    background: #fff;
    margin-top: 5px;
}

.card .face.back .ccvtext .ccv{
    position: relative;
    top: -35px;
    left: 395px;
    background: #ccc;
    color: #111;
    width: 50px;
    height: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card .face.back .text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    color: crimson;
    font-size: 17px;
    line-height: 5px;
    font-weight: 600;
}

/*pre loading the website*/
.loader{
    position: fixed;
    top: 0;
    left: 0;
    background: lightgrey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /*horizontal alignment*/
    align-items: center; /* vertical alignment*/
    z-index: 99;
}
.loader a{
    line-height: 1em;
    font-weight: 600;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.disappearloader{
    animation: vanish 1s forwards;
}
@keyframes vanish{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
/*pre loading the website ENDS*/


