@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide:300,400,500,600,700&display=swap');

html {
	min-height:90%;
	}
body {
	/*background-image:url(../../index/zzz-image/BackgroundImage-visitor.jpg);*/
  background: #6cb1ff;
	/*background-repeat: no-repeat;
	background-size: cover;*/
  padding: 5px;
	
}

.grid{
  display: grid;
  grid-template-columns: 2% 48% 48% 2%;
  grid-template-areas: 
      ". Title Title ."
      ". faq-wallpaper faq-wallpaper ."
      ". . . ."
      ". accordion accordion ."
  ;
  align-self: center;
  grid-gap: 5px;
}

.Title {
  grid-area: Title;
  height: 60px;
}

.faq-wallpaper {
  grid-area: faq-wallpaper;
}

.accordion {
  grid-area: accordion;
}


.faq-wallpaper {
  margin-top: 100px;
  position: relative;
  grid-area: home;
  height: 140px;
  align-self: center;
  background-image: url(../zzz-image/BackgroundImage-visitor.jpg);
  width: 100%;
  height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion {
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  background: #009578;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #ffffff;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

/*pre loading the website*/
.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: lightgrey;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /*horizontal alignment*/
  align-items: center; /* vertical alignment*/
  z-index: 99;
}
.loader a{
  line-height: 1em;
  font-weight: 600;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  color: black;
}
.disappearloader{
  animation: vanish 1s forwards;
}
@keyframes vanish{
  100%{
      opacity: 0;
      visibility: hidden;
  }
}
/*pre loading the website ENDS*/

.Title .return{
  position: absolute;
  right: 0;
  top: 0;
}

.Title .ForexTitle{
  position: relative;
  top: 20px;
}

.Title p{ /*faq*/
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 600;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  color: black;
  text-justify: left;
  justify-items: left;
  position: absolute;
  right: 0;
  top: 0;
}

.Title .return a{
  font-weight: 600;
  font-size: 1em;
  text-justify: right;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.Title .ForexTitle a{
  font-weight: 600;
  font-size: 2em;
  text-justify: left;
  font-family: 'Poppins', sans-serif;
  color: black;
}